@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body {
    font-family: "poppins", sans-serif;
    width: 100%;
    background: url('../image/valley.jpg') center no-repeat;
    background-size: cover;
    position: relative;
    display: block;
    font-family: 'poppins',Arial, Helvetica, sans-serif !important;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
h1 {
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    color: #fff000;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}
.bills .container{
    display: flex;
    justify-content: center;
}
button {
    background-color: #000;
    border: none;
    padding: 10px 30px;
    transition: .3s;
    margin-left: 1%;
    font-weight: 600;
    color: #2c2c2c;
    border-radius: 5%;
}

button:hover {
    box-shadow: 0 5px 60px 0 #fff000;
    transition: .3s;
    color: #2c2c2c;
}
a{
    color: #fff;
    font-weight: 600;
}
/*--------------------------Card choice-----------------------------*/

/*----------------------------------Flex----------------------------------------*/
.flex a{
    border-radius: 50%;
}
/*-----------------------------------Footer-------------------------------------*/
footer .contain-foot {
    display: flex;
    justify-content: space-between;
    margin: 0px 1%;
    margin-top: 5%;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 5px;
  }
  footer .contain-foot .center {
    font-size: 15px;
  }
  footer .contain-foot .right {
    display: flex;
  }
  footer .contain-foot .right .help {
    margin-right: 20px;
  }
/*------------------Container---------------------------*/
.container-form h3 {
    font-family: "poppins";
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
    padding-bottom: 10px;
    font-weight: bold;
}
  .container-form p {
    font-family: "poppins", Arial, Helvetica, sans-serif;
    margin-bottom: 2px;
    font-size: 14px;
}
  .container-form a {
    font-family: "poppins";
    color: #525252;
    cursor: pointer;
}
  .container-form form {
    margin-top: 5%;
    text-align: center;
    margin-left: 10%;
    font-family: "poppins";
    width: 80%;
    padding: 60px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(190, 190, 190, 0.2), 0 5px 5px 0 rgba(190, 190, 190, 0.2);
    /* Full-width inputs */
    /* Set a style for all buttons */
}
.container-form form input[type=text],
.container-form form input[type=password],
.container-form form input[type=tel] {
  font-family: "poppins", Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: 0.3s;
}
.container-form form input[type=text]:focus,
.container-form form input[type=password]:focus,
.container-form form input[type=tel]:focus {
  transition: 0.3s;
  outline: none;
  box-shadow: 0px 2px 5px 0px #c5c5c5;
}
.container-form form input[type=text] p,
.container-form form input[type=password] p,
.container-form form input[type=tel] p {
  font-size: 12px;
}
.container-form form #submit {
  font-family: "poppins", Arial, Helvetica, sans-serif;
  background-color: #000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid transparent;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
}
.container-form form #submit:hover {
  transition: 0.3s;
  background-color: #ffee00;
  color: #525252;
  border: 1px solid #ffee00;
}
.container-form form .submitp {
  font-family: "poppins", Arial, Helvetica, sans-serif;
  background-color: #000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid transparent;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
  color: #fff;
  text-align: center;
}
.container-form form .submitp:hover {
  transition: 0.3s;
  background-color: #ffee00;
  color: #525252;
  border: 1px solid #ffee00;
}