/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  color: #fff000;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.container-form {
  text-align: center;
  width: 500px;
  margin: 0 10%;
  margin-top: 10%;
  /* --------------form----------------- */
}
.container-form h3 {
  font-family: "poppins";
  text-align: center;
  margin: 0 auto;
  font-size: 40px;
  padding-bottom: 10px;
  font-weight: bold;
}
.container-form p {
  font-family: "poppins", Arial, Helvetica, sans-serif;
  margin-bottom: 2px;
  font-size: 14px;
}
.container-form a {
  font-family: "poppins";
  color: #525252;
  cursor: pointer;
}
.container-form form {
  text-align: center;
  margin-left: 50%;
  font-family: "poppins";
  width: 120%;
  padding: 60px;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(190, 190, 190, 0.2), 0 5px 5px 0 rgba(190, 190, 190, 0.2);
  /* Full-width inputs */
  /* Set a style for all buttons */
}
.container-form form input[type=text],
.container-form form input[type=password],
.container-form form input[type=tel] {
  font-family: "poppins", Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: 0.3s;
}
.container-form form input[type=text]:focus,
.container-form form input[type=password]:focus,
.container-form form input[type=tel]:focus {
  transition: 0.3s;
  outline: none;
  box-shadow: 0px 2px 5px 0px #c5c5c5;
}
.container-form form input[type=text] p,
.container-form form input[type=password] p,
.container-form form input[type=tel] p {
  font-size: 12px;
}
.container-form form #submit {
  font-family: "poppins", Arial, Helvetica, sans-serif;
  background-color: #000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid transparent;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
}
.container-form form #submit:hover {
  transition: 0.3s;
  background-color: #ffee00;
  color: #525252;
  border: 1px solid #ffee00;
}
.container-form form .submitp {
  font-family: "poppins", Arial, Helvetica, sans-serif;
  background-color: #000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid transparent;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
  color: #fff;
  text-align: center;
}
.container-form form .submitp:hover {
  transition: 0.3s;
  background-color: #ffee00;
  color: #525252;
  border: 1px solid #ffee00;
}

.contain.boost {
  width: 100%;
}

footer .contain-foot {
  display: flex;
  justify-content: space-between;
  margin: 0px 1%;
  margin-top: 5%;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 5px;
}
@media (max-width: 425px){
  footer{
    display: block;
  }
}
footer .contain-foot .center {
  font-size: 15px;
}
footer .contain-foot .right {
  display: flex;
}
footer .contain-foot .right .help {
  margin-right: 20px;
}

#menu {
  background-color: #06090f;
  width: 300px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
@media (max-width: 769px) {
  #menu {
    width: 270px;
    position: fixed;
    left: -270px;
  }
}
#menu .logo {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 30px 0;
}
#menu .logo h2 {
  user-select: none;
  font-size: 50px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
  color: #fff000;
  margin-right: 15px;
}
#menu .items {
  margin-top: 40px;
}
#menu .items .nav-item {
  list-style: none;
  padding: 15px 0;
  transition: 0.3s ease;
  border-left: 4px solid transparent;
}
#menu .items .nav-item i {
  color: #fff000;
  width: 30px;
  height: 20px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  margin: 0 10px 0 25px;
}
#menu .items .nav-item a {
  text-decoration: none;
  color: #fff000;
  cursor: pointer;
  font-weight: 300;
  font-family: "poppins";
}
#menu .items .nav-item:hover, #menu .items .nav-item.active {
  transition: 0.3s ease;
  border-left: 4px solid #fff;
  background-color: rgba(238, 238, 238, 0.0941176471);
}
#menu .items .nav-item:hover i, #menu .items .nav-item.active i {
  color: #f3f4f6;
}
#menu .items .nav-item:hover a, #menu .items .nav-item.active a {
  color: #f3f4f6;
}

#interface {
  width: calc(100% - 300px);
  margin-left: 300px;
  position: relative;
}
@media (max-width: 769px) {
  #interface {
    width: 100%;
    margin-left: 0;
    position: relative;
    display: inline-block;
  }
}
#interface .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px 30px;
  box-shadow: 2px 0 10px 0 #e4e4e4;
  position: fixed;
  width: calc(100% - 300px);
}
@media (max-width: 769px) {
  #interface .navigation {
    width: 100%;
  }
}
@media (max-width: 477px) {
  #interface .navigation {
    padding: 15px;
  }
}
#interface .navigation .n1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#interface .navigation .n1 #menu-btn {
  display: none;
  color: #2b2b2b;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
  font-weight: bold;
}
@media (max-width: 769px) {
  #interface .navigation .n1 #menu-btn {
    display: initial;
  }
  #interface .navigation .n1 #menu-btn #menu.active {
    left: 0;
  }
  #interface .navigation .n1 #menu-btn #menu.active #interface {
    width: calc(100% - 270px);
    margin-left: 270px;
    transition: 0.3s ease;
  }
}
#interface .navigation .search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 14px;
  border: 1px solid #f3f4f6;
  border-radius: 4px;
  margin-right: 14px;
}
#interface .navigation .search i {
  padding-right: 10px;
}
#interface .navigation .search input {
  border: none;
  outline: none;
  font-size: 14px;
}
@media (max-width: 477px) {
  #interface .navigation .search input {
    padding: 30px 30px 0 30px;
  }
}
#interface .navigation .profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#interface .navigation .profile i {
  margin-right: 20px;
  font-size: 19px;
  font-weight: 400;
}
#interface .navigation .profile img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
#interface .chart-container {
  margin: 20px;
  width: 80%;
}
#interface .i-name {
  color: #444a53;
  padding: 30px 30px 0px 30px;
  font-size: 24px;
  font-weight: 700;
  margin-top: 70px;
}
@media (max-width: 477px) {
  #interface .i-name {
    padding: 30px 15px 0 15px;
  }
}
#interface .big-suppbox {
  position: absolute;
  bottom: 10px;
  left: 0px;
  text-align: center;
  opacity: 0;
  /* Add animation (fade in the popup) */
}
#interface .big-suppbox.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#interface .big-suppbox .suppbox {
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 10px 0 #ebebeb;
  width: 100%;
  margin: 0px 20px;
  border-radius: 5px;
}
#interface .big-suppbox .suppbox button {
  width: 100%;
  border: none;
}
#interface .big-suppbox .suppbox button:hover {
  background-color: #06090f;
  color: #fff;
}

#interface-client {
  overflow: hidden;
  margin-left: 0px;
  position: relative;
}
@media (max-width: 769px) {
  #interface-client {
    width: 100%;
    position: relative;
    margin-left: 0px;
    display: inline-block;
  }
}
#interface-client .row {
  margin: 0px 10%;
  margin-top: 10%;
}
#interface-client .navigation-client {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px 30px;
  box-shadow: 2px 0 10px 0 #e4e4e4;
  position: fixed;
  width: 100%;
}
@media (max-width: 769px) {
  #interface-client .navigation-client {
    margin-left: 0;
    width: 100%;
  }
}
@media (max-width: 477px) {
  #interface-client .navigation-client {
    margin-left: 0;
    padding: 15px;
  }
}
#interface-client .navigation-client .n1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#interface-client .navigation-client .search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 14px;
  border: 1px solid #f3f4f6;
  border-radius: 4px;
  margin-right: 14px;
}
#interface-client .navigation-client .search i {
  padding-right: 10px;
}
#interface-client .navigation-client .search input {
  border: none;
  outline: none;
  font-size: 14px;
}
@media (max-width: 477px) {
  #interface-client .navigation-client .search input {
    padding: 30px 30px 0 30px;
  }
}
#interface-client .navigation-client .profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#interface-client .navigation-client .profile i {
  margin-right: 20px;
  font-size: 19px;
  font-weight: 400;
}
#interface-client .navigation-client .profile img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
#interface-client .chart-container {
  margin: 20px;
  width: 80%;
}
#interface-client .i-name {
  color: #444a53;
  padding: 30px 30px 0px 30px;
  font-size: 24px;
  font-weight: 700;
  margin-top: 70px;
}
@media (max-width: 477px) {
  #interface-client .i-name {
    padding: 30px 15px 0 15px;
  }
}
#interface-client .big-suppbox {
  position: absolute;
  bottom: 10px;
  left: 0px;
  text-align: center;
  opacity: 0;
  /* Add animation (fade in the popup) */
}
#interface-client .big-suppbox.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#interface-client .big-suppbox .suppbox {
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 10px 0 #ebebeb;
  width: 100%;
  margin: 0px 20px;
  border-radius: 5px;
}
#interface-client .big-suppbox .suppbox button {
  width: 100%;
  border: none;
}
#interface-client .big-suppbox .suppbox button:hover {
  background-color: #06090f;
  color: #fff;
}

.container-table {
  width: 95%;
  margin: 0 20px;
  margin-top: 3%;
}
.container-table table a {
  color: #06090f;
}
.container-table table a:hover {
  transition: 0.2s;
  color: #fff000;
}

table.pay {
  width: 95%;
  margin: 0px 20px;
  margin-top: 3%;
}

.contain .mod {
  margin: 0 20px;
  margin-top: 1%;
  padding: 10px 10px;
  background-color: rgba(255, 238, 0, 0.3490196078);
  border-left: 10px solid #fff000;
  color: #8f8f8f;
  font-weight: 400;
}
.contain .sup {
  margin: 0 20px;
  margin-top: 1%;
  padding: 10px 10px;
  background-color: rgba(255, 0, 0, 0.3490196078);
  border-left: 10px solid #ff0000;
  color: #fff;
  font-weight: 400;
  margin-bottom: 20px;
}
.contain .sup .container-table tr td a {
  color: #fff;
  background-color: #06090f;
}
.contain i {
  font-size: 16px;
  margin-right: 10px;
  color: #ff0000;
}
.contain form {
  width: 80%;
  margin: 0px 30px;
  margin-top: 3%;
}
.contain form .mb-3 .form-control:focus {
  outline: none !important;
  border: 1px solid transparent !important;
  box-shadow: 0 2px 10px 0 #dbdbdb !important;
  transition: 0.3s;
}
.contain form button {
  width: 100%;
  margin-bottom: 3%;
  background-color: #06090f;
  border: none;
  font-weight: 500;
}
.contain form button:hover {
  background-color: #fff000;
  color: #06090f;
}

body {
  width: 100%;
  background-color: #fcfdff !important;
  position: relative;
  display: flex;
  font-family: "poppins", Arial, Helvetica, sans-serif !important;
}

#body {
  width: 100%;
  background: url("../image/valley.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  display: block;
  font-family: "poppins", Arial, Helvetica, sans-serif !important;
}

/*# sourceMappingURL=style.css.map */
